/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #0079d3;
}

.mat-button.mat-primary, .mat-raised-button.mat-primary {
    background-color: #0079d3;
    color: rgba(255,255,255, 1)
}