<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-navbar></app-navbar>
  Sign Up
  <input [(ngModel)]="register.username">
  <input [(ngModel)]="register.password1" type="password">
  <input [(ngModel)]="register.password2" type="password">
  <input [(ngModel)]="register.email" type="email">
  <button (click)="registerNewUser()">register</button>
</body>

</html>
