<div class="main-container">
    <h4>Category</h4>
    <ng-container *ngIf="category">
        <mat-grid-list cols="4" rowHeight="3:2" gutterSize="8px">
            <mat-grid-tile *ngFor="let item of category" [class]="item">
                    <h4>{{item | titlecase }}</h4>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-container>
    <h4>Popular posts</h4>
    <div class="post-container">
            <mat-card>
                <div>
                    <button mat-stroked-button color="primary">
                        <mat-icon>whatshot</mat-icon>
                        Hot
                    </button>
                    <button mat-stroked-button color="primary">
                        <mat-icon>new_releases</mat-icon>
                        New
                    </button>
                    <button mat-stroked-button color="primary">
                        <mat-icon>bar_chart</mat-icon>
                        Top
                    </button>
                </div>
            </mat-card>

            <mat-card class="card-list" *ngFor="let item of dataList" trackBy="item.id">
                <div class="like-wrapper">
                    <div class="button-wrapper">
                        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
                            <mat-icon>thumb_up_alt</mat-icon>
                          </button>
                        <span>{{item.rate}}</span>
                        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
                            <mat-icon>thumb_down_alt</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="context-wrapper">
                    <div class="context-header">
                        <mat-icon id="group-icon">{{item.logo}}</mat-icon>
                        <span>{{item.group}}</span>
                        <span>post by {{item.auther}}</span>
                        <span>{{item.timestamp | date}}</span>
                    </div>
                    <h3>{{item.title | titlecase}}</h3>
                    <ng-container [ngSwitch]="item.type">
                        <div *ngSwitchCase="type.IMG">img</div>
                        <div *ngSwitchCase="type.VIDEO">video</div>
                        <div *ngSwitchDefault>
                            <p>{{item.content}}</p>
                        </div>
                    </ng-container>
                    <div class="context-footer">
                        <span>
                        <mat-icon>forum</mat-icon>
                        {{item.comments.length}}
                        Comments
                        </span>
                        <span><mat-icon>share</mat-icon>Share</span>
                        <span><mat-icon>bookmark</mat-icon>Save</span>
                    </div>
                </div>
            </mat-card>
    </div>

</div>
